// generate classes :
@include gridle_generate_classes ( );

.row{
  margin: 0 !important;
}

// manage container width :
.container {
  max-width : 1200px;
  margin : 0 auto;
  //  padding: 0 20px;
  //  background-color: #FFF;
}

.no-bottom-padding{
  padding-bottom: 0 !important;
}
.no-margin{
  margin: 0!important;
}
.no-padding{
	padding:0 !important;
}
.full-width{
	width:100%;
	.container{
		width:100%;
		max-width:100%;
	}
}
.text-center{
  text-align: center;
}
.w-bg-img{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  @include transition(all 100ms);
  background-position: center center;
  background-repeat: no-repeat;
}

.fixed{
  background-attachment: fixed;
}

.bgc-1{
	background-color: $colour-1;
}
.bgc-2{
	background-color: $colour-2;
}
.bgc-3{
	background-color: $colour-3;
}
.bgc-4{
	background-color: $colour-4;
}

.bgs-1{
	background-color: $shade-1;
	color: $shade-2;
	h1, h2, h3, h4, h5, h6,legend{
		color: $shade-2;
	}
}
.bgs-2{
	background-color: $shade-2;
}
.bgs-3{
	background-color: $shade-3;
	color: $shade-2;
	h1, h2, h3, h4, h5, h6,legend{
		color: $shade-2;
	}
}
.bgs-4{
	background-color: $shade-4;
	color: $shade-2;
	h1, h2, h3, h4, h5, h6,legend{
		color: $shade-2;
	}
}
.bgs-5{
	background-color: $shade-5;
	color: $shade-2;
	h1, h2, h3, h4, h5, h6,legend{
		color: $shade-2;
	}
}

[class*="bgc-"]{
	color:$shade-2;
}

body{
  overflow-x: hidden;
  box-sizing: border-box;
  &.admin-bar{
	  #header.display{
		  top:32px;
	  }
  }
}
@import 'typography';



#header{
	box-sizing: border-box;
	position: fixed;
	top:-100px;
	width:100%;
	height:100px;
	color: $shade-2;
//	background: $shade-1;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.9+100 */
	background: -moz-linear-gradient(top, $shade-1 0%, $shade-1a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $shade-1 0%,$shade-1a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $shade-1 0%,$shade-1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	z-index: 9999;
	@include transition(all .5s);
	&.display{
		top:0;
	}
	.logo{
		max-height: 60px;
		max-width: 100%;
	}
	nav{
			ul{
				display: block;
				box-sizing: border-box;
				padding: 0;
				margin: 0;
				text-align: right;
				width: 100%;
				font-size: 0;
				li{
					display: inline-block;
					list-style: none;
					a{
						display: inline-block;
						box-sizing: border-box;
						padding: 41px 20px 0px 20px;
						color: $shade-2;
						height:100px;
						font-family: $font-2;
						text-transform: uppercase;
						background-color: transparent;
						@include transition(all 0.5s);
						font-size: 16px;
						letter-spacing: 2px;
						font-weight: bold;
						position: relative;
						border-bottom: 0px solid $shade-2;
						&:after{
							content:"\f078";
							font-family: "fontAwesome";
							position: absolute;
							font-size: 10px;
							top: -20px;
							width: 50px;
							text-align: center;
							left: 50%;
							margin-left: -25px;
							@include transition(all 0.5s);
						}
						&:hover{
							background-color: $shade-1;
							background-color: $colour-2;
							border-bottom: 22px solid $shade-2;
//							color: $colour-2;
							&:after{
								top:15px;
								color: $shade-2;
							}
						}
					}
					&.current-menu-item{
						a{
							background-color: $shade-1;
							border-bottom: 22px solid $shade-2;
							&:after{
								top:15px;
							}
						}
					}

				}
			}
	}
}


.item{
	position: relative;
	box-sizing: border-box;
	width:100%;
	.row{
		position:absolute;
		top:50%;
		width:100%;
		.slide-content{
			box-sizing: border-box !important;
	//		position: absolute;
	//		width:50%;
			top:50%;
	//		left:50%;
			padding: 40px;
			box-sizing: border-box;
			background-color: $shade-1a;
			color: $shade-2;
			text-align: center;
			h3{
				font-family: $font-3;
				font-size: 60px;
				text-transform: uppercase;
				color: $shade-2;
			}
		}
	}
}

#homepage-hero{
	transition: transform .28s, opacity .28s;
	position: relative;
	.scroll-btn{
		position: absolute;
		box-sizing: border-box;
		cursor: pointer;
		width:80px;
		height:60px;
		background-color: $shade-1a;
		text-align: center;
		padding-top: 14px;
		left: 50%;
		margin-left: -40px;
		bottom:0;
		z-index: 999;
		color:$shade-2;
		font-size:14px;
		line-height: 18px;
		@include transition(all 0.5s);
		&:hover{
			background-color: $colour-2;
		}
	}
}

.home{
	h1{
		font-family: $font-2;
	}
}

.content{
	padding-top:60px;
	padding-bottom:40px;
}

#introText{
	p{
		font-size: 32px;
		line-height: 1.5;
		text-align: center;
		color: $shade-4;
	}
}

hr{
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid $shade-5;
	width:50%;
	margin: auto;
}

.service-1, .service-2, .service-3{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	@include transition(all 0.5s);
	position:relative;
	overflow: hidden;
	.service-text{
		position: absolute;
		display: block;
		width:100%;
		box-sizing: border-box;
		font-family: $font-2;
		color: $shade-2;
		font-size: 40px;
		text-align: center;
		top:-90px;
		left:0px;
		text-transform: uppercase;
		@include transition(all 0.5s);
	}
	.learn-more{
		position: absolute;
		display: block;
		width:100%;
		box-sizing: border-box;
		font-family: $font-2;
		color: $shade-2;
		font-size: 20px;
		text-align: center;
		bottom:-40px;
		left:0px;
//		text-transform: uppercase;
		@include transition(all 0.5s);
		i{
//			font-size:14px;
			margin-left: 2px;
		}
	}
	&:hover{
		background-size: 40% 40%;
		background-color: $colour-2;
		.service-text{
			top:10%;
		}
		.learn-more{
			bottom:15%;
		}
	}
}

.service-1{
	background-image: url(imgs/screen.svg);
	background-color: $colour-1;
}
.service-2{
	background-image: url(imgs/playbtn.svg);
	background-color: $colour-4;
}
.service-3{
	background-image: url(imgs/microphone.svg);
	background-color: $colour-3;
}



.page-head{
	height:500px;
	position: relative;
	.bg-img{
		filter: grayscale(100%);
		position: absolute;
		top:0;
		bottom: 0;
		width: 100%;
	}
	.page-title{
		position: absolute;
		top:0;
		bottom: 0;
		width: 100%;
		background-color: $colour-1a;
		.gr-12{
			position: absolute;
			bottom:145px;
			h1{
				color: $shade-2;
			}
		}
	}
}


img{
	position: relative;
	max-width: 100%;
//	margin-bottom: 20px;
}
.youtube-thumbnail{
	display:block;
	position:relative;
	box-sizing: border-box;
	img{
		margin: 0;
		box-sizing: border-box;
	}
	.overlay{
		display:block;
		position:absolute;
		top:0;
		bottom:6px;
		width: 100%;
		background-color: $shade-1aa;
		box-sizing: border-box;
		@include transition(all .5s);
		&:hover{
			background-color: $shade-1aaa;
		}
		.play-icon{
			display: block;
			position: absolute;
			box-sizing: border-box;
			width:100%;
			font-size:40px;
			font-family: $font-3;
			color: $shade-2;
			text-align: center;
			top:50%;
			height:108px;
			margin-top:-54px;
			i{
				font-size: 60px;
				margin-bottom: 5px;
			}
		}
	}
}



//forms
input[type="text"],input[type="email"],input[type="tel"]{
	width:100%;
	box-sizing: border-box;
	padding: 0px 10px 0px 10px;
	background-color: transparent;
	border: 2px solid $shade-4;
	color: $shade-4;
	font-size:20px;
	height:50px;
	font-family: $font-1;
	font-weight:300;
	@include transition(all 0.8s);
	&:focus{
		background-color: $shade-2a;
	}
}
textarea{
	width:100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: transparent;
	border: 2px solid $shade-4;
	color: $shade-4;
	font-size:20px;
	font-family: $font-1;
	font-weight:300;
	height:150px;
	@include transition(all 0.8s);
	&:focus{
		background-color: $shade-2a;
	}
}

input[type="submit"]{
	box-sizing: border-box;
	display: inline-block;
	width: auto;
	padding: 11px 20px 10px 20px;
	background: $colour-1;
	border: 2px solid $colour-1;
	color: $shade-2 !important;
	position: relative;
	font-family: $font-2;
	font-size:20px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	height:50px;
	@include transition(all 0.5s);
	&:hover{
		background-color: $colour-2;
		border: 2px solid $colour-2;
		color:$shade-1;
		cursor: pointer;
	}
}

[class*="bgc-"],[class*="bgs-"]{
	input[type="text"],input[type="email"],input[type="tel"]{
		background: transparent;
		border: 2px solid $shade-2;
		color: $shade-2 !important;
		&:focus{
			background-color: $shade-2a;
		}
	}
	textarea{
		background-color: transparent;
		border: 2px solid $shade-2;
		color: $shade-2;
	}
	input[type="submit"]{
			background-color: transparent;
			border: 2px solid $shade-2;
		&:hover{
			background-color: $colour-2;
			border: 2px solid $colour-2;
		}
	}
}

.bgc-4{
	input[type="text"],input[type="email"],input[type="tel"]{
		background: transparent;
		border: 2px solid $shade-2;
		color: $shade-2 !important;
		&:focus{
			background-color: $shade-2a;
		}
	}
	textarea{
		background-color: transparent;
		border: 2px solid $shade-2;
		color: $shade-2;
		&:focus{
			background-color: $shade-2a;
		}
	}
	input[type="submit"]{
			background-color: transparent;
			border: 2px solid $shade-2;
		&:hover{
			background-color: $colour-2;
			border: 2px solid $colour-2;
		}
	}
}

[class*="bgs-"]{
	input[type="submit"]{
			background-color: $colour-1;
			border: 2px solid $colour-1;
		&:hover{
			background-color: $colour-2;
			border: 2px solid $colour-2;
		}
	}
}

.bgc-2{
	.btn, .button{
			background-color: transparent;
			border: 2px solid $shade-2;
		&:hover{
			background-color: $shade-2;
			color: $colour-2 !important;
		}
	}
}

span.wpcf7-list-item{
	margin: 0;
}

span.wpcf7-not-valid-tip {
    font-size: 14px;
    padding: 5px;
	background: $shade-2;
}
div.wpcf7-response-output {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
	border:none;
}

.fullwidth-btn{
	input[type="submit"], .btn, .button{
		width:100%;
	}
}

#cta{
	.youtube-logo{
		width:100px;
		margin-bottom: 40px;
	}
}

#footer{
	padding-top: 60px;
	h3{
		text-align: center;
	}
	p{
		margin-bottom: 10px;
		strong{
			font-weight: bold;
			font-size: 28px;
			display: inline-block;
			margin-bottom: 20px;
		}
	}
	a{
		color:$shade-2;
		&.social-link{
			width:50%;
			display:inline-block;
			height:115px;
			width:50%;
			font-size:70px;
			padding-top:22px;
			box-sizing: border-box;
//			border: 2px solid $shade-2;
//			margin:0px 2px 4px 2px;
//			background: $shade-2aa;
			&:hover{
				background-color: $colour-1;
			}
		}
		&.instagram-link{
			background-color: #8a3ab9;
		}
		&.youtube-link{
			background-color: #CD201F;
		}
		&.facebook-link{
			background-color: #3b5998;
		}
		&.twitter-link{
			background-color: #00aced;
		}
	}
	.footer-logo{
		width:200px;
		margin-bottom: 28px;
	}
}


.site-content {
	-webkit-transition: -webkit-transform .28s, opacity .28s;
	-ms-transition: -o-transform .28s, opacity .28s;
	-o-transition: -o-transform .28s, opacity .28s;
	transition: transform .28s, opacity .28s;
}
.fade-effect {
	.site-content {
		-webkit-transform: translate3d(0, 100px, 0);
		-ms-transform: translate3d(0, 100px, 0);
		-o-transform: translate3d(0, 100px, 0);
		transform: translate3d(0, 100px, 0);
		opacity: 0;
	}
}

.site {
	@include transition(all 0.2s);
	width:100%;
	overflow: hidden;
	opacity: 1;
}

#load-container {
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	opacity: 0;
	position: fixed;
	transition: all 1s ease-in-out;
	&.loading {
		opacity: 1;
	}
	#load {
		width: 455px;
		height: 225px;
		background-color: #333;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.5);
		margin: 100px auto;
		//noinspection CssUnknownTarget
		background: url(imgs/logo-black.jpg);
		background-repeat: no-repeat;
		position: fixed;
		opacity: 0;
		transition: all 1s ease-in-out;
		&.loading {
			opacity: 1;
		}
	}
}

@mixin filter($filter-type) { 
	-webkit-filter: $filter-type+unquote('(#{$filter-amount})');
	-moz-filter: $filter-type+unquote('(#{$filter-amount})');
	-ms-filter: $filter-type+unquote('(#{$filter-amount})');
	-o-filter: $filter-type+unquote('(#{$filter-amount})');
	filter: $filter-type+unquote('(#{$filter-amount})');
  }