.mobile{
  display: none;
}
@media all and (max-width:800px) {
  [class*="gr-"]{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    &.no-gutter{
      padding:0px;
    }
    &.no-gutter-top{
      padding-top:0px;
    }
    &.no-gutter-bottom{
      padding-bottom:0px;
    }
    &.no-gutter-left{
      padding-left:0px;
    }
    &.no-gutter-right{
      padding-right:0px;
    }
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
	
	[class*="push-"]{
		left:0;
	}
	
	body{
		font-size: 18px;
	}
	
	.item .row .slide-content {
		padding: 20px;
		top:40%;
	}
	
	.item .row .slide-content h3 {
		font-size: 40px;
	}

	h1{
		font-size: 40px;
	}
	#introText p {
		font-size: 28px;
	}
	h2{
		font-size: 34px;
	}
	h3{
		font-size: 28px;
	}
	h4{
		font-size: 24px;
	}
	.page-head {
		height: 300px;
	}
	.page-head .page-title .gr-12 {
		bottom: 56px;
	}

	.mobile-logo{
		display:block;
		position: fixed;
		top:10px;
		left:20px;
		z-index: 999999;
		.logo{
			max-height:35px;
		}
	}
	
	.owl-dot{
		display:none;
	}
	
	.service-1 .service-text, .service-2 .service-text, .service-3 .service-text {
		top: 10%;
	}
	
	.service-1 .learn-more, .service-2 .learn-more, .service-3 .learn-more {
		bottom: 15%;
	}

	.service-1, .service-2, .service-3 {
		background-size: 40% 40%;
	}


}

