body{
  font-family: $font-1;
  font-size: 20px;
  color: $shade-4;
  i{
    font-family: $font-1;
	  font-style: italic;
    b, strong{
      font-family: $font-1;
		font-weight: bold;
    }
  }
  b, strong{
    font-family: $font-1;
	font-weight: bold;
    i{
      font-family: $font-1;
 	  font-style: italic;
   }
  }
}

p, span, blockquote, ul, ol, li{
}

h1, h2, h3, h4, h5, h6,legend{
  font-family: $font-2;
  margin-bottom: 40px;
	text-transform: uppercase;
  color: $shade-3;
	font-weight:300;
}
[class*="bgc-"]{
	h1, h2, h3, h4, h5, h6,legend{
  		color: $shade-2;
	}
}

h1{
	font-family: $font-3;
  	font-size: 60px;
	text-align: center;
	line-height:1.25;
}

h2{
	font-size: 46px;
	text-align: center;
}

h3,legend{
  font-size: 38px;
}

h4{
  font-size: 30px;
}

h5{
  font-size: 24px;
}

h6{
  font-size: 14px;
}

a:link, a:visited, a:hover{
  text-decoration: none;
  color: $shade-1;
  transition: all 0.3s ;
}
a:hover{
  color: $shade-1;
}


p{
  line-height: 135%;
  margin-bottom: 20px;
}

.no-margin{
  margin: 0px !important;
}

.smalltext{
	font-size: 12px;
}
.dark-overlay{
	position: relative;
	z-index: 1;
	&:before{
		content:"";
		display: block;
		position: absolute;
		top:0;
		bottom:0;
		width:100%;
		background-color: $shade-1aa;
		z-index: 2
	}
	h1,h2,h3,h4,h5,p{
		color:$shade-2;
	}
	.container{
		z-index: 3;
	}
}


.button{
	box-sizing: border-box;
	display: inline-block;
	width: auto;
	padding: 10px 50px 10px 20px;
	background: $colour-1;
	border: 2px solid $colour-1;
	color:$shade-2 !important;
	position: relative;
	font-family: $font-2;
	font-weight:bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	&:after{
		content:"\f105";
		display: block;
		position: absolute;
		right:20px;
		top:50%;
		margin-top: -14px;
		font-family: "fontAwesome";
		font-size:28px;
		@include transition(all .5s);
	}
	&:hover{
		background: $colour-2;
		border: 2px solid $colour-2;
		&:after{
		right:15px;
		}
	}
}

section.content{
	ul{
		list-style: disc;
		margin-bottom: 20px;
		list-style-position: inside;
		li{
			line-height: 135%;
			margin-bottom: 5px;
		}
	}
}