// fonts
@font-face {
  font-family: 'republica';
  src: url('fonts/republica.ttf') format('truetype');
}


/**
 * Variables
 */
$font-1: 'open-sans', sans-serif;
$font-2: 'roboto', sans-serif;
$font-3: 'republica', sans-serif;

$shade-1: rgba(33, 33, 33,1);
$shade-1a: rgba(33, 33, 33,0.90);
$shade-1aa: rgba(33, 33, 33,0.75);
$shade-1aaa: rgba(33, 33, 33,0.50);

$shade-2: rgba(255,255,255,1);
$shade-2a: rgba(255,255,255,0.25);
$shade-2aa: rgba(255,255,255,0.05);

$shade-3: rgba(33,33,33,1);
$shade-4: rgba(117,117,117,1.00);
$shade-5: rgba(189,189,189,1.00);


$colour-1: rgba(0,150,136,1.00);
$colour-1a: rgba(0,150,136,.85);
$colour-2: 	rgba(255,87,34,1.00);
//$colour-2: rgba(255, 117, 137, 1);
//$colour-2: rgba(255, 167, 140, 1);
$colour-3: rgba(0,121,107,1.00);
//$colour-4: rgba(178,223,219,1.00);
$colour-4: rgba(90, 204, 191, 1);

//$colour-1: rgba(255,87,34,1.00);
//$colour-2: 	rgba(255,87,34,0.95);
//$colour-3: rgba(255,87,34,0.65);
//$colour-4: rgba(255,87,34,0.45);
